<div class="loading-screen" *ngIf="isLoading">
  <ion-spinner></ion-spinner>
</div>

<ion-menu id="left" [content]="content" side="left" >

  <wh-search padding></wh-search>

</ion-menu>

<ion-menu id="right" [content]="content" side="right" (ionClose)="clearEditForm()">

  <wh-editor padding></wh-editor>

</ion-menu>

<ion-content #content #dcontent swipeBackEnabled="false">

  <ion-header>
    <ion-toolbar>
      <button ion-button clear menuToggle="left">
        <ion-icon name="search"></ion-icon>
      </button>

      <ion-title text-center>Warehouse</ion-title>

      <button ion-button clear menuToggle="right" right>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list no-lines *ngIf="!isLoading && items">
      <ion-item>

        <ion-row>
          <ion-col text-left>
            {{items.length}} products
          </ion-col>
          <ion-col text-right>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of items">
          <ion-col size-md>
            <div class="wh-card">
              <!--<div class="wh-card-item-name">-->
                <!---->
              <!--</div>-->
              <div class="wh-card-item-name">
                {{item.code}}
                <button ion-button right (click)="editItem(item)">
                  <ion-icon name='create' color="white"></ion-icon>
                  Edit
                </button>
              </div>
              <div class="wh-card-item-stats">
                <div class="wh-card-button">
                  <div class="stat-value">Quantity</div>
                  <div class="stat">{{item.quantity}}</div>
                </div>
                <div class="wh-card-button">
                  <div class="stat-value">Floor</div>
                  <div class="stat">{{item.floor}}</div>
                </div>
                <div class="wh-card-button no-border">
                  <div class="stat-value">Section</div>
                  <div class="stat">{{item.section}}</div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

      </ion-item>
    </ion-list>
  </ion-content>

</ion-content>


