<ion-header (click)="closeEditor()">
  <ion-toolbar>
    <ion-title text-right>
      <ion-icon name='close' color="white" float-left></ion-icon>
      {{newForm ? 'NEW ITEM' : 'EDIT ITEM'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <form [formGroup]="editForm" class="editForm">
      <ion-item>
        <ion-label [class.form-error-msg]="!editForm.controls.code.valid && !editForm.controls.code.pristine" stacked>
          Code
        </ion-label>
        <ion-input formControlName="code" type="text" [disabled]="!newForm"></ion-input>
      </ion-item>
      <ion-item *ngIf="!editForm.controls.code.valid && !editForm.controls.code.pristine">
        <p class="form-error-msg">Please enter a valid code.</p>
      </ion-item>
      <ion-item>
        <ion-label [class.form-error-msg]="!editForm.controls.quantity.valid && !editForm.controls.quantity.pristine"
                   stacked>Quantity
        </ion-label>
        <ion-input formControlName="quantity" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="!editForm.controls.quantity.valid && !editForm.controls.quantity.pristine">
        <p class="form-error-msg">Please enter a valid quantity.</p>
      </ion-item>
      <ion-item>
        <ion-label [class.form-error-msg]="!editForm.controls.floor.valid && !editForm.controls.floor.pristine"
                   stacked>Floor
        </ion-label>
        <ion-input formControlName="floor" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="!editForm.controls.floor.valid && !editForm.controls.floor.pristine">
        <p class="form-error-msg">Please enter a valid floor.</p>
      </ion-item>
      <ion-item>
        <ion-label [class.form-error-msg]="!editForm.controls.section.valid && !editForm.controls.section.pristine"
                   stacked>Section
        </ion-label>
        <ion-input formControlName="section" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="!editForm.controls.section.valid && !editForm.controls.section.pristine">
        <p class="form-error-msg">Please enter a valid section.</p>
      </ion-item>

      <ion-row>
        <ion-col text-left>
          <button class="del-btn" ion-button left (click)="deleteItem()" *ngIf="!newForm">
            DELETE
          </button>
        </ion-col>
        <ion-col text-right>
          <button class="save-btn" ion-button right (click)="updateList()"
                  *ngIf="editForm.valid && !editForm.pristine">
            SAVE
          </button>
        </ion-col>
      </ion-row>

    </form>

  </ion-list>
</ion-content>
