@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$yellow: rgb(247,202,85);

ion-toolbar{
  .toolbar-background {
    border-color: #b2b2b2;
    background: $yellow;
  }
  ion-icon, .toolbar-title {
    color: white;
  }
}

.wh-card {
  background: rgb(246,246,246);
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 9999;
  margin: 5px 0 5px 0;
}

.wh-card-item-name {
  font-size: 20px;
  color: rgb(83,83,83);
  font-weight: 900;
  margin: 10px 0;
  text-align: left;
  padding: 0 0 0 10px;
  div {
    display: inline-block;
  }
  button {
    background-color: $yellow;
    float: right;
    margin: -108px 0px 10px 10px;
    font-size: 12px;
    line-height: 20px;
    box-shadow: none;
    text-transform: capitalize;
    border-radius: 6px;
    ion-icon {
      margin-right: 5px;
    }
  }
}

.wh-card-item-stats {

  color: rgb(83,83,83);
  font-weight: 700;
  //border-bottom-left-radius: $border-radius-size;
  //border-bottom-right-radius: $border-radius-size;

  .wh-card-button {
    width: 33%;
    float: left;
    padding: 5px 15px;
    //border-right: 1px solid #FFF;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 16px;
    button {
      background: none;
    }
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .no-border {
    border-right: none;
  }
}

.wh-card-item-stats:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


