<ion-header (click)="closeSearch()">
  <ion-toolbar>
    <ion-title text-left>
      <ion-icon name='close' color="white" float-right></ion-icon>
      SEARCH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <form [formGroup]="searchForm" class="editForm">

      <ion-item>
        <ion-label stacked>
          Code
        </ion-label>
        <ion-input formControlName="code" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Floor</ion-label>
        <ion-select formControlName="floor">
          <ion-option value="" selected="true">Any</ion-option>
          <ion-option value="{{floor}}" *ngFor="let floor of floors">
            {{floor}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Section</ion-label>
        <ion-select formControlName="section">
          <ion-option value="" selected="true">Any</ion-option>
          <ion-option value="{{section}}" *ngFor="let section of sections">
            {{section}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-row>
        <ion-col text-left>
          <button class="clear-btn" ion-button ion-start right (click)="clearSearchForm()">
            CLEAR
          </button>
        </ion-col>
        <ion-col text-right>
          <button class="save-btn" ion-button right (click)="saveSearchForm()" *ngIf="searchForm.valid && !searchForm.pristine">
            SEARCH
          </button>
        </ion-col>
      </ion-row>

    </form>

  </ion-list>
</ion-content>
