.editForm {
  margin-top: 20px;
  padding: 10px;
  ion-item {
    padding-right: 16px;
  }
  .form-error-msg {
    color: red;
  }
  button {
    margin-top: 20px;
  }
  .del-btn {
    background-color: red;
  }
  .save-btn {
    background-color: $yellow;
  }
}
